luminosity 35870
output     output/output.root
style      cms


files/WJetsToLNu_HT-0To70.root		W+jets.root  61526.50	 0.934204 bg 1.000

files/WJetsToLNu_HT-70To100_RunIISummer16MiniAODv2.root           W+jets.root  1600.97         0.995100 bg 1.000

files/WJetsToLNu_HT-100To200.root        W+jets.root  1632.53 	 0.994154 bg 1.000

files/WJetsToLNu_HT-200To400.root        W+jets.root  436.59       0.992909 bg 1.000

files/WJetsToLNu_HT-400To600.root        W+jets.root  59.36 	  0.992160 bg 1.000

files/WJetsToLNu_HT-600To800.root        W+jets.root  14.62	   0.991120 bg 1.000

files/WJetsToLNu_HT-800To1200.root       W+jets.root  6.67 	  0.989017 bg 1.000

files/WJetsToLNu_HT-1200To2500.root      W+jets.root  1.61        0.982907 bg 1.000

files/WJetsToLNu_HT-2500ToInf.root       W+jets.root  0.039      0.992717 bg 1.000


